In [50]:
# Evaluating accuracy of data:

import pandas as pd

df = pd.read_csv('multiple_authors.csv')
df = df.iloc[:, [1,2,24,25,26,27,28,29,30,31,32,33,34,35,36]]
df = df[df['id_0'].notna()]
#considering only not NaN cols for sampling

df['id_0'] = [int(i) for i in df['id_0']]
#I should technically convert to int throughout, but I'm being lazy here:


sample = df.sample(n=20)

In [51]:
sample

,first,last,id,id_0,id_1,id_2,id_3,id_4,id_5,id_6,id_7,id_8,id_9,id_10,id_11
1676,Marie,Paretti,"[""'AUTHOR_ID:8624605500'""]",8624605500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526,William,Tyler,"[""'AUTHOR_ID:7006363447'""]",7006363447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,Alexander,Dickow,"[""'AUTHOR_ID:55454200000'""]",55454200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,Parakh,Hoon,"[""'AUTHOR_ID:6701420851'""]",6701420851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,Rana,Ashkar,"[""'AUTHOR_ID:36193682400'""]",36193682400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Clair,Apodaca,"[""'AUTHOR_ID:6701696374'""]",6701696374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1290,Jianyong,Li,"[""'AUTHOR_ID:55720843800'"", "" 'AUTHOR_ID:57218...",55720843800,5.721847e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1062,Gizem,Korkmaz,"[""'AUTHOR_ID:56278329300'""]",56278329300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,Douglas,Nelson,"[""'AUTHOR_ID:7404329707'""]",7404329707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,Bernice,Hausman,"[""'AUTHOR_ID:8444015800'""]",8444015800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1902,Pamela,Vandevord,"[""'AUTHOR_ID:6506311470'""]",6506311470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928,Paul,Plassmann,"[""'AUTHOR_ID:7003708748'""]",7003708748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2147,Sally,Paulson,"[""'AUTHOR_ID:7005810261'""]",7005810261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2071,Robert,Muir,"[""'AUTHOR_ID:57215336161'""]",57215336161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,Dennis,Sweeney,"[""'AUTHOR_ID:7101821474'""]",7101821474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Bonnie,Smith,"[""'AUTHOR_ID:7501690443'""]",7501690443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
916,Edmund,Jong,"[""'AUTHOR_ID:50961194000'""]",50961194000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,Joann,Paul,"[""'AUTHOR_ID:7402418769'""]",7402418769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,Christopher,Beattie,"[""'AUTHOR_ID:7101655249'""]",7101655249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2563,Yong,Cao,"[""'AUTHOR_ID:36042143300'"", "" 'AUTHOR_ID:57203...",36042143300,5.720388e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Some observations:

Using Tyler William's author id, we find that he is currently at arizona state, however, he was previously at vtech.

an error:
parakh hoon is listed in scopus as affiliated with Virginia Tech, However, hoon is currently at south pudget sound community college. https://www.linkedin.com/in/parakh-hoon-aa235a2/
An idea that might resolve this is to consider most recent publication date in search (helps filter for more recent info) 

Li jianyong has multiple id's:
first id has more associated documents
both are at virginia tech
both are in the chemistry field:
Seems like they are the same person


Bernice Huasman:
currently at penn state, confirmed on scopus website and on [penn state](https://sites.psu.edu/humanities/bernice-hausman/) (this is a good thing)

Pamela VandeVord:
scopus lists as affiliated with VA medical center, but is also at virginia tech

In [53]:
sample.iloc[6,4]

57218474983.0