In [58]:
import pandas as pd

df = pd.read_csv('AUTH_ID_DATA.csv')

In [59]:
df = df[:-1]
df.tail()

,Unnamed: 0,first,last,employer,title,name,Fullname,start_at_this,school_current,title_current,...,phd,phd_year,master,master_year,bachelor,bachelor_year,career,postdoc,Unnamed: 21,id
2594,2594,Zhiting,Tian,Virginia Polytechnic Institute and State Unive...,Assistant Professor,Zhiting Tian,Zhiting Tian,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['AUTHOR_ID:36161529100']
2595,2595,Zhiwu,Wang,Virginia Polytechnic Institute and State Unive...,Assistant Professor,Zhiwu Wang,Zhiwu Wang,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['AUTHOR_ID:8621105600']
2596,2596,Zhiwu,Xie,Virginia Polytechnic Institute and State Unive...,Prof - Associate Professor,Zhiwu Xie,Zhiwu Xie,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['AUTHOR_ID:7402267368']
2597,2597,Zhiyong,Cheng,Virginia Polytechnic Institute and State Unive...,Assistant Professor,Zhiyong Cheng,Zhiyong Cheng,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['AUTHOR_ID:55777757300']
2598,2598,Zhou,Yang,Virginia Polytechnic Institute and State Unive...,Assistant Professor,Zhou Yang,Zhou Yang,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
missing = df['id'].isna().sum()
total = len(df['id'])
coverage = (1 - (missing/total))
print("The coverage for id's available in the Elsavier API is: %f" % coverage)

The coverage for id's available in the Elsavier API is: 0.831089

In [61]:
# Considering accuracy: assuming that authors with more than one auth_id might be more difficult to analyze:
id_list_df = ([x.strip('][').split(',') for x in df['id'] if type(x) != float])
mult_size = pd.DataFrame([x for x in id_list_df if len(x)>2])
mult_id = mult_size.shape[0]
simples = (total - (missing + mult_id))

print("There are %d individuals in the dataset with multiple author id's" %mult_id)
print("-"*50)
print("There are %d simple cases where an author has only one id" %simples)

There are 104 individuals in the dataset with multiple author id's
--------------------------------------------------
There are 2056 simple cases where an author has only one id

In [62]:
# updates id col to list
df['id'] = [x.strip('][').split(',') if type(x) != float else '' for x in df['id']]

In [63]:
for i in range(0,13):
    df['id_'+str(i)] = [x[i] if i in range(len(x)) else '' for x in df['id']]

In [64]:
start = df.columns.get_loc('id_0')
end = df.columns.get_loc('id_12')

In [65]:
working = df.copy()

for j in range(start, end):
    working.iloc[:,j] =[i.split(':') if type(i) == str else '' for i in working.iloc[:,j]]
    
    working.iloc[:,j] = [i[1] if len(i)==2  else '' for i in working.iloc[:,j]]
    working.iloc[:,j] = [int(i[:-1]) if i != '' else '' for i in working.iloc[:,j]]

In [66]:
working = working.drop(columns = ['Unnamed: 0', 'Unnamed: 21'])

In [67]:
# Here I create a csv of auth_id's 

working.to_csv('VTECH_IDs.csv')